<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FedEx Ground</title>
    <!-- Container for meta data (is not displayed)
Title, Styles, Lisnk, Scripts, Meta and other

-->
</head>
<body>
Welcome to FedEx Ground !!!


<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h1 align="center" style="color: #95ff00">Spring Framework</h1>
<img src="ADC CHANDES STORY.png" alt="ADC Image">
<ul>
    <li>NB</li>
    <li>SB</li>
    <li>IGC</li>
    <li>IG</li>
</ul>
<a href="https://google.com">Google</a>
<table>
    <tr>
        <td>Package</td>
        <td>Shipping</td>
        <td>Ground Shipping</td>
    </tr>
    <tr>
        <td>pkg status</td>
        <td>tracking</td>
        <td>return</td>
    </tr>
</table>
<!-- Forms -->
<label>User Name: </label>
<input type="text" name="user name">
<br>
<label>Password:</label>
<input type="password">
<br>
<textarea name="comments"></textarea>
<br>
<label>Please select your origin country:</label>
<br>
<input type="radio" name="Spring" value="UZB" checked="checked">UZB

<input type="radio" name="Spring" value="USA" >USA

<input type="radio" name="Spring" value="TR" >TR
<br>
<br>
<br>
<label>Please select your company:</label>
<br>
<input type="checkbox" name="Company" value="Bank of Amerika" checked="checked">Bank of America

<input type="checkbox" name="Company" value="FedEx" >FDX

<input type="checkbox" name="Company" value="PNC" >PNC
<br>
<br>
<label>Select your car: </label>
<br>
<select name="Cars:">
    <option value="RAV4">RAV4</option>
    <option value="Camry">Camry</option>
    <option value="Highlander">Highlander</option>
    <br>
</select>
<br>
<br>
<br>
<form>
    First name:
    <input type="text" name="first_name">
    <br>
    Last name:
    <input type="text" name="last_name">
    <br>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>John</td>
            <td>Doe</td>
            <td>jdoe@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Will</td>
            <td>Johnson</td>
            <td>will@yahoo.com</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Shannon</td>
            <td>Williams</td>
            <td>shannon@yahoo.com</td>
        </tr>
        </tbody>
    </table>
    <br>
</form>
<table>
    <tr>
        <th></th>
        <td>Jan</td>
        <td>Feb</td>
        <td>Mar</td>
        <td>Apr</td>
        <td>May</td>
        <td>June</td>
    </tr>
    <tr>
        <th>2020</th>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
    </tr>
    <tr>
        <th>2019</th>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
        <td>00.1</td>
    </tr>
    <tr>
        <th>2018</th>
        <td>00.2</td>
        <td>00.4</td>
        <td>00.5</td>
        <td>00.7</td>
        <td>00.1</td>
        <td>00.9</td>
    </tr>
</table>
    <br>
    <hr>
    <p>Looking for home page?</p>
    <a href="Welcome.html">click here to go back to home page</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
    <div>
        <h2>Group one</h2>
        <ol>
            <li>Package</li>
            <li>Mail</li>
            <li>NB</li>
            <li>SB</li>
        </ol>
        <ul>
            <li>image con</li>
            <li>ens producer</li>
            <li>adc con</li>
            <li>custom status con</li>
            <ol>
                <li>Test case1</li>
                <li>Test case1</li>
                <li>Test case1</li>
                <li>Test case1</li>
            </ol>
        </ul>
        </div>
        <div>
            <p> Second group starts here</p>
        </div>
            <a href="forms/applicationForm.html" target="_blank">I-90 form</a>
</body>
</html>